# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
myvenv/
venv/
.venv/
env/
ENV/
venv.bak/

# Environment variables
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and cache
.pytest_cache/
.mypy_cache/

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
*.cover
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite
*.sqlite3

/dataset
/output